@import "form"; 

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F7FF;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.btn {
    padding: 12px 24px;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;

    &:hover{
        cursor: pointer;
    }
}

.btn-blue{
    color: #FFF;
    background-color: #144284;
}

.btn-yellow{
    color: #144284;
    background-color: #FFCC4D;
}

.container{
    max-width: 1024px;
    margin: auto;
    background-color: #FFF;
    padding: 20px;

}

header{
    background-color: #144284;
    height: 80px;
    display: flex;
    align-items: center;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: unset;
        padding: 0;
        .logo{
            img{
                height: 60px;
            }
        }
    }
}

#home{
    .container{
        .lits-list{
            padding-left: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;

            

            li{
                display: flex;
                gap: 20px;
                justify-content: space-between;
                .left{
                    display: flex;
                    gap: 20px;
                    .image{
                        height: 200px;
                        min-width: 200px;
                        aspect-ratio: 1/1;
                        border-radius: 14px;
                        overflow: hidden;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .infos{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .texts{
                            
                        }
                        .actions{
                            display: flex;
                            gap: 20px;
                        }
                    }
                }
                .right{
                    display: flex;
                    align-items: center;
                    .prix{
                        text-align: center;
                        .off{
                            text-decoration: line-through;
                            color: #144284;
                            font-weight: 700;
                            font-size: 20px;
                        }
                        .promo{
                            color: #FFCC4D;
                            font-weight: 700;
                            font-size: 40px;
                            line-height: 40px;
                            text-shadow: 4px 0 #144284, -4px 0 #144284, 0 4px #144284, 0 -4px #144284,
                            4px 4px #144284, -4px -4px #144284, 4px -4px #144284, -4px 4px #144284;
                        }
                    }
                }
                &:not(:last-child){
                    border-bottom: 2px solid rgba(20, 66, 132, 0.2);
                    padding-bottom: 20px;
                }
            }
        }
    }
}