body{
    margin: 0;
}

.container{
    max-width: 1024px;
    margin: auto;
}

header{
    background-color: #144284;
    height: 80px;
    display: flex;
    align-items: center;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .logo{
            img{
                height: 60px;
            }
        }
    }
}